@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-image: url('./assets/sfondo1.jpg');
    background-size: 100%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    font-family: 'Poppins';
}

#testo1 {
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30pt;
}

#text1 {
    text-align: center;
    font-size: 3vh;
    position: relative;
}

#subtitle{
    margin-top: 5vh;
    margin-right: auto;
    text-align: end;
}

#testo{
    color: white;
    font-size: 50pt;
    position: relative;
}

#big {
    font-size: 100pt;
    color: white;
}

#quest {
    font-family: "Roboto";    
}

.row {
    text-align: center;
}

.btn{
    margin-top: 30pt !important;
    font-size: 200%;
    padding: 2%;
    border-radius: 40px;
}

#link {
    font-style: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#logoDiv{
    margin-top: 3vh;
    text-align: end;
}

#logo{
    max-width: 2%;
    margin-right: 5vh;
}